<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jgsu.imessage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

     <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.jgsu.imessage" />
     
      <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name="com.jgsu.imessage.utils.ImApp"
        android:allowBackup="true"
        android:icon="@drawable/imessage"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        
         <uses-library
            android:name="android.test.runner"
            android:required="true" />
         
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.jgsu.imessage.activity.ContactListActivity" ></activity>
        <activity android:name="com.jgsu.imessage.activity.LoginActivity"></activity>
        <activity android:name="com.jgsu.imessage.activity.ChatActivity"></activity>
        <service android:name="com.jgsu.imessage.service.CoreService"></service>
    </application>

</manifest>
